
#header {
height: 80px;
width: 100%;
position: fixed;
top: 0;
z-index: 3;
border-bottom: 1px solid gray;
background-color: green;
}

#header-content {
width: 75%;
margin: auto;
display: flex;
justify-content: space-between;
margin-top: 19px;
margin-left: 405px;
padding: 5px 300px 0px 100px;
}

#header-navbar {
padding: 8px 20px;
width: 380px;
display: flex;
justify-content: space-between;
align-items: end;
font-size: 21px;
color : white;
}


#header-navbar > div:hover{
color:greenyellow;
cursor:pointer;
}


#home-logo {
height: 35px;
width: 100px;
cursor: pointer;
}

#home-logo>img {
width: 100px;
height: 35px;
cursor: pointer;
}


#header-search>img{
    width: 20px;
    height: 18px;
}

/* 모달 */
.header-modal{
    position: fixed;
    bottom: 35%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index : 1;
    
}


/* 모달 백그라운드 */
.header-modal .bg{
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.6);
}



/* 모달 닫기 버튼 */
.header-modal .header-closeBtn {
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: #fff;
    border: none;
    font-size: 24px;
}


.header-modalBox {
    position: absolute;
    background-color: #fff;
    width: 500px;
    height: 120px;
    border-radius: 16px;
    
}
.header-modalBox .searchheader{
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size : 25px;
}
.header-modalBox .searchbody{
    width: 500px;
    height: 150px;
    padding: 20px 20px;
}

#search-input{
	width: 450px;
	height: 45px;
}


.hidden {
    display: none;
}

.header-dropdown{
  position : relative;
  display : inline-block;
  width: 100px;
}

.header-dropdown-content{
  display : none;
  position : absolute;
  z-index : 1; /*다른 요소들보다 앞에 배치*/
  height : 100px;
  
}

.header-dropdown-content a{
  display : block;
  color : white;
  font-size : 24px;
  background-color : green;
  
}

.header-dropdown-content a:hover{
	
	color:greenyellow;
	cursor:pointer;
	
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
  
}

