notice {
	width: 100%;
	height: 88%;
}

#notice_area {
	width: 100%;
	height: 90%;
	/* margin-top: 5vh;
			margin-left: 30vh; */
}

#notice_title_area {
	width: 100%;
	height: 15%;
}

#notice_title {
	font-size: 2em;
	font-weight: bold;
}

#notice_board {
	width: 100%;
	height: 85%;
}

/* 공지사항 테이블 시작 */
#noticeList {
	margin-top: 5vh;
	min-width: 130vh;
	margin-left: 15vh;
	max-width: 100%;
	border-collapse: collapse;
}

#noticeList tr {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #f5f9fc;
}

#noticeList th {
	display: none;
}

#noticeList td {
	display: block;
}

#noticeList td:first-child {
	margin-top: .5em;
}

#noticeList td:last-child {
	margin-bottom: .5em;
}

#noticeList td:before {
	content: attr(data-th) ": ";
	font-weight: bold;
	width: 120px;
	display: inline-block;
	color: #000;
}

#noticeList th, #noticeList td {
	text-align: left;
}

#noticeList {
	color: #333;
	border-radius: .4em;
	overflow: hidden;
}

#noticeList tr {
	border-color: #bfbfbf;
}

#noticeList th, #noticeList td {
	padding: .5em 1em;
}

@media screen and (max-width: 601px) {
	#noticeList tr:nth-child(2) {
		border-top: none;
	}
}

@media screen and (min-width: 600px) {
	#noticeList tr:hover {
		background-color: #d8e7f3;
	}
	#noticeList td:before {
		display: none;
	}
	#noticeList th, #noticeList td {
		display: table-cell;
		padding: .25em .5em;
	}
	#noticeList th:first-child, #noticeList td:first-child {
		padding-left: 0;
	}
	#noticeList th:last-child, #noticeList td:last-child {
		padding-right: 0;
	}
	#noticeList th, #noticeList td {
		padding: 1em !important;
	}
}

.paging {
	margin: 0px 0px 0px 40%;
}

#searchForm {
	width: 80%;
	margin-left: 15%;
}

#searchForm>* {
	float: left;
	margin: 5px;
}

.select {
	width: 15%;
}

.text {
	width: 53%;
}

.searchBtn {
	width: 10%;
}

#enrollWrap {
	width: 100%;
	height: 80%;
	border: 1px solid rgb(224, 224, 224);
	border-radius: 10px;
	padding: 20px;
	background: white;
}

#RenrollWrap {
        width: 100%;
        height: 80%;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 10px;
        padding: 20px;
        background: rgb(247, 247, 247);
      }
.dropbtn {
	background-color: white;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: white;
}

#content {
	padding: 20px 0;
	border-bottom: 1px solid rgb(242, 242, 242);
	margin: 0% 0% 0% 15%;
}

#content2 {
	display: flex;
	align-items: center;
}

#reviewNickname {
	display: flex;
	font-size: 16px;
	margin-bottom: 10px;
	color: rgb(97, 97, 97);
}

#reviewRoomName {
	display: flex;
}

#reviewRoomNameList {
	width: 8%;
	height: 20px;
	border-radius: 2px;
	text-align: center;
	color: rgb(145, 145, 145);
	background-color: rgba(230, 230, 230);
}

#reviewRoomNameInfo {
	width: 92%;
	margin-left: 10px;
	border-radius: 2px;
	color: rgb(97, 97, 97);
	background-color: rgba(248, 248, 248);
}

#review {
	margin: 20px 0;
	text-align: left;
}

#buReviewList {
	width: 700px;
	height: 200px;
	background-color: white;
	padding: 20px;
}

#review-star-rating .fa {
	color: #ffc107;
}

#review-star-rating {
	margin-bottom: 10px;
}

.buReviewDate {
	float: right;
	font-size: 16px;
	color: rgb(97, 97, 97);
}