<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">

	<resultMap type="member" id="memberResultSet">
		<id column="USER_NO" property="userNo" />
		<result column="USER_ID" property="userId" />
		<result column="USER_PWD" property="userPwd" />
		<result column="USER_NAME" property="userName" />
		<result column="EMAIL" property="email" />
		<result column="AUTHORITY" property="authority" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<resultMap type="business" id="businessResultSet">
		<id column="BU_NO" property="buNo" />
		<result column="BU_ID" property="buId" />
		<result column="BU_PWD" property="buPwd" />
		<result column="BU_USER_NAME" property="buUserName" />
		<result column="AREA_NO" property="areaNo" />
		<result column="BU_CATEGORY" property="buCategory" />
		<result column="EMAIL" property="email" />
		<result column="BU_TEL" property="buTel" />
		<result column="BU_ADDRESS" property="buAddress" />
		<result column="ROOM_COUNT" property="roomCount" />
		<result column="BU_TITLE" property="buTitle" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="APPROVAL" property="approval" />
	</resultMap>
	
	<!-- 로그인유저 정보 SELECT(석범) -->
	<select id="loginMember" parameterType="member"
		resultMap="memberResultSet">
		SELECT *
		FROM MEMBER
		WHERE USER_ID = #{userId}
		<!-- AND USER_PWD = #{userPwd} -->
		AND STATUS = 'Y'
	</select>
	
	<!-- 일반고객 회원가입(석범) -->
	<insert id="insertMember" parameterType="member">
		INSERT INTO
		MEMBER(USER_NO
		, USER_ID
		, USER_PWD
		, USER_NAME
		, EMAIL
		, AUTHORITY)
		VALUES(SEQ_UNO.NEXTVAL
		, #{userId}
		, #{userPwd}
		, #{userName}
		, #{email}
		, 1)
	</insert>
	
	<!--  충영 -->
	<select id="selectSearchListCount" resultType="_int">
	SELECT COUNT(*)
	FROM BUSINESS
	WHERE APPROVAL = 'Y'
	
	<if test='keyword != null and keyword != ""'>
		AND 
		<choose>
			<when test='condition == "title"'>
				BU_TITLE LIKE CONCAT(CONCAT('%',#{keyword}),'%')
			</when>
		</choose>	
	</if>	
	</select>
	
	<select id="selectSearchList" resultMap="businessResultSet">
	SELECT
		BU_NO,
		BU_ID,
		BU_TITLE,
		BU_ADDRESS,
		BU_TEL
	FROM BUSINESS
	WHERE APPROVAL = 'Y' 
	<if test='keyword != null and keyword != ""'>
		AND 
		<choose>
			<when test='condition == "title"'>
				BU_TITLE LIKE CONCAT(CONCAT('%',#{keyword}),'%')
			</when>
		</choose>	
	</if>
	</select>
</mapper>