<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="notice-mapper">

	<!-- 게시글 목록용 resultMap -->
	<resultMap type="notice" id="noticeResultSet">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="USER_NO" property="userNo" />
		<result column="NOTICE_WRITER" property="noticeWriter" />
		<result column="USER_NAME" property="userName" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="COUNT" property="count" />
	</resultMap>

	<!-- 게시글 상세 조회용 resultMap -->
	<resultMap type="notice" id="noticeDetailResultSet">
		<result column="NOTICE_NO" property="noticeNo" />
		<result column="NOTICE_TITLE" property="noticeTitle" />
		<result column="NOTICE_CONTENT" property="noticeContent" />
		<result column="NOTICE_WRITER" property="noticeWriter" />
		<result column="USER_NAME" property="userName" />
		<result column="NOTICE_WRITER" property="noticeWriter" />
	</resultMap>

	<!-- 미승인 사업자 목록용 & 고객 정보 수정용 resultMap -->
	<resultMap type="business" id="approvalResultSet">
		<result column="BU_NO" property="buNo" />
		<result column="BU_ID" property="buId" />
		<result column="BU_PWD" property="buPwd" />
		<result column="BU_USER_NAME" property="buUserName" />
		<result column="AREA_NO" property="areaNo" />
		<result column="BU_CATEGORY" property="buCategory" />
		<result column="EMAIL" property="email" />
		<result column="BU_TEL" property="buTel" />
		<result column="BU_ADDRESS" property="buAddress"/>
		<result column="ROOM_COUNT" property="roomCount" />
		<result column="BU_TITLE" property="buTitle" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="APPROVAL" property="approval" />
	</resultMap>
	
	<!-- 리뷰 목록용 resultMap -->
	<resultMap type="review" id="reviewResultSet">
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="REVIEW_WRITER" property="reviewWriter" />
		<result column="USING_ROOM" property="usingRoom" />
		<result column="BOOK_NO" property="bookNo" />
		<result column="STAR_SCORE" property="starScore" />
		<result column="REVIEW_CONTENT" property="reviewContent" />
		<result column="REVIEW_AVAILABLE" property="reviewAvailable" />
		<result column="CREATE_DATE" property="createDate" />
		<result column="REVIEW_DECLARIATION" property="reviewDeclariation"/>
		<result column="REVIEW_CONTENT_REPLY" property="reviewContentReply" />
		<result column="USER_NAME" property="userName" />
		<result column="ROOM_NAME" property="roomName" />
	</resultMap>
	
	<!-- 공지사항 -->
	<select id="selectNoticeListCount" resultType="_int"> 
		SELECT COUNT(*) FROM NOTICE
		WHERE STATUS = 'Y'
	</select>

	<select id="selectNoticeList" resultMap="noticeResultSet">
		SELECT
		NOTICE_NO,
		NOTICE_TITLE,
		NOTICE_WRITER,
		
		USER_NAME,
		N.CREATE_DATE,
		COUNT
		FROM NOTICE N
		JOIN MEMBER  ON USER_NO = NOTICE_WRITER
		WHERE N.STATUS = 'Y'
		ORDER BY N.CREATE_DATE DESC
	</select>


	<select id="selectNoticeDetail"
		resultMap="noticeDetailResultSet">
		SELECT 
		NOTICE_NO,
		NOTICE_WRITER,
		USER_NAME,
		NOTICE_TITLE,
		NOTICE_CONTENT
		FROM NOTICE N
		JOIN MEMBER M ON M.USER_NO = N.NOTICE_WRITER
		WHERE NOTICE_NO = #{noticeNo}
	</select>



	<insert id="insertNotice" useGeneratedKeys="true"
		parameterType="notice">

		<selectKey keyProperty="noticeNo" resultType="_int"
			order="BEFORE">
			SELECT SEQ_NNO.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO NOTICE(
		NOTICE_NO,
		NOTICE_TITLE,
		NOTICE_WRITER,
		NOTICE_CONTENT
		) VALUES (
		#{noticeNo},
		#{noticeTitle},
		1,
		#{noticeContent}
		)

	</insert>

	<update id="updateNotice" parameterType="notice">
		UPDATE NOTICE SET
		NOTICE_TITLE = #{noticeTitle},
		NOTICE_CONTENT = #{noticeContent}
		WHERE NOTICE_NO = #{noticeNo}
	</update>

	<delete id="deleteNotice">
		DELETE FROM 
		NOTICE
		WHERE NOTICE_NO = #{noticeNo}
	</delete>
	
	<update id="updateReadCount">
	UPDATE NOTICE SET
	COUNT = COUNT +1
	WHERE NOTICE_NO = #{noticeNo}
	</update>
	
	<select id="searchNoticeListCount" resultType="_int">
	SELECT COUNT(*)
	FROM NOTICE N
	LEFT JOIN MEMBER M ON (NOTICE_WRITER = USER_NO)
	WHERE N.STATUS = 'Y'
	
	<if test='keyword != null and keyword != ""'>
		AND 
		<choose>
			<when test='condition == "title"'>
				NOTICE_TITLE LIKE CONCAT(CONCAT('%',#{keyword}),'%')
			</when>
			<when test='condition == "content"'>
				NOTICE_CONTENT LIKE '%${keyword}%'
			</when>			
			<when test='condition == "titleAndContent"'>
				(
					NOTICE_TITLE LIKE CONCAT(CONCAT('%',#{keyword}),'%') 
					OR
					NOTICE_CONTENT LIKE '%${keyword}%'
				)
			</when>			
		</choose>	
	</if>	
	</select>
	
	<select id="searchNoticeList" resultMap="noticeResultSet">
	SELECT
		NOTICE_NO,
		NOTICE_TITLE,
		NOTICE_WRITER,
		
		USER_NAME,
		COUNT,
		N.CREATE_DATE
	FROM NOTICE N
	LEFT JOIN MEMBER ON USER_NO = NOTICE_WRITER
	WHERE N.STATUS = 'Y' 
	<if test='keyword != null and keyword != ""'>
		AND 
		<choose>
			<when test='condition == "title"'>
				NOTICE_TITLE LIKE CONCAT(CONCAT('%',#{keyword}),'%')
			</when>
			<when test='condition == "content"'>
				NOTICE_CONTENT LIKE '%${keyword}%'
			</when>			
			<when test='condition == "titleAndContent"'>
				(
					NOTICE_TITLE LIKE CONCAT(CONCAT('%',#{keyword}),'%') 
					OR
					NOTICE_CONTENT LIKE '%${keyword}%'
				)
			</when>			
		</choose>	
	</if>
	ORDER BY N.CREATE_DATE DESC
	</select>
	
	<!-- 미승인 사업자목록  -->
	<select id="selectApprovalListCount" resultType="_int"> 
		SELECT COUNT(*) FROM BUSINESS
		WHERE APPROVAL = 'N'
	</select>

	<select id="selectApprovalList" resultMap="approvalResultSet">
		SELECT
		BU_ID,
		BU_USER_NAME,
		BU_TEL,	
		BU_TITLE,
		BU_ADDRESS
		FROM BUSINESS
		WHERE APPROVAL = 'N'
	</select>
	
	<update id="approvalAccept" parameterType="business">
		UPDATE  BUSINESS SET
		APPROVAL = 'Y'
		WHERE BU_ID = #{buId}
	</update>
	
	<delete id="approvalCancel">
		DELETE   
		FROM BUSINESS
		WHERE BU_ID = #{buId}
	</delete>
	
	<!-- 고객 정보 수정  -->
	<select id="selectManageListCount" resultType="_int"> 
		SELECT COUNT(*) FROM BUSINESS
		WHERE APPROVAL = 'N'
	</select>

	<select id="selectManageList" resultMap="approvalResultSet">
		SELECT
		BU_ID,
		BU_USER_NAME,
		BU_TEL,	
		BU_TITLE,
		BU_ADDRESS
		FROM BUSINESS
		WHERE APPROVAL = 'Y'
	</select>
	
	<update id="manageUpdate" parameterType="business">
		UPDATE  BUSINESS SET
		BU_USER_NAME = #{buUserName},
		BU_TITLE = #{buTitle},
		BU_ADDRESS = #{buAddress}
		WHERE BU_ID = #{buId}
	</update>
	
	<delete id="manageCancel">
		DELETE   
		FROM BUSINESS
		WHERE BU_ID = #{buId}
	</delete>
	
	<!-- 리뷰 신고 목록 -->
	<select id="selectReportListCount" resultType="_int"> 
		SELECT COUNT(*) FROM REVIEW
		WHERE REVIEW_DECLARIATION = 'Y'
	</select>

	<select id="selectReportList" resultMap="reviewResultSet">
		SELECT 
		REVIEW_NO, STAR_SCORE, REVIEW_WRITER, USER_NAME, CREATE_DATE, 
		USING_ROOM, ROOM_NAME, REVIEW_CONTENT, REVIEW_CONTENT_REPLY
		FROM REVIEW R
		JOIN MEMBER M ON M.USER_NO = R.REVIEW_WRITER
		JOIN ROOM RO ON RO.ROOM_NO = R.USING_ROOM
		WHERE REVIEW_DECLARIATION = 'Y'
	</select>
	
	<update id="reportKeep" parameterType="review">
		UPDATE  REVIEW SET
		REVIEW_DECLARIATION = 'N'
		WHERE REVIEW_NO = #{reviewNo}
	</update>
	
	<delete id="reportCancel">
		DELETE   
		FROM REVIEW
		WHERE REVIEW_NO = #{reviewNo}
	</delete> 
</mapper>
