<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.breaktime.detail1.model.vo.CategoryCode" alias="categoryCode" />
		<typeAlias type="com.kh.breaktime.detail1.model.vo.Detail" alias="detail" />
		<!-- <typeAlias type="com.kh.spring.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.spring.board.model.vo.BoardType" alias="boardType"/>
		<typeAlias type="com.kh.spring.board.model.vo.Board" alias="board"/>
		<typeAlias type="com.kh.spring.board.model.vo.BoardImg" alias="boardImg"/>
		<typeAlias type="com.kh.spring.board.model.vo.Reply" alias="reply"/>
		
		<typeAlias type="com.kh.spring.chat.model.vo.ChatRoomJoin" alias="chatRoomJoin"/>
		<typeAlias type="com.kh.spring.chat.model.vo.ChatRoom" alias="chatRoom"/>
		<typeAlias type="com.kh.spring.chat.model.vo.ChatMessage" alias="chatMessage"/> -->
	</typeAliases>
	 
	 <mappers>
	 	<mapper resource="/mappers/detail-mapper.xml"/>
	 	<!-- <mapper resource="/mappers/member-mapper.xml"/>
	 	<mapper resource="/mappers/board-mapper.xml"/>
	 	<mapper resource="/mappers/reply-mapper.xml"/>
	 	<mapper resource="/mappers/chattingMapper.xml"/> -->
	 </mappers>

</configuration>
