#content1 {
   display: flex;
   justify-content: center;
}

#reviewFormMove {
   display: flex;
   justify-content: space-around;
   width: 600px;
   height: 60px;
   background-color: #c0e2c0;
   border-radius: 15px;
   margin-top: 150px;
   align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
   font-family: 'Arial', fantasy;
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
   border: solid 1px black;
   border-radius: 5px;
   background-color: green;
   color: white;
   height : 30px;
}
#buRoomRegister,
#buRoomReservation,
#buReview {
   border: solid 1px black;
   border-radius: 5px;
   background-color: green;
   color: white;
   width: 100px;
   height: 40px;
}
#buReviewText {
   margin: 50px;
   font-size: xx-large;
   margin-bottom: 70px
}
/* table{
   width : 1900px;
   
}
tbody{
   text-align : center;
   background-color: #c0e2c0;
   height : 40px;
}
thead{
   background-color: green;
   height : 60px;
} */
#content2 {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}


/* #reviewStar {
   display: flex;
}

#reviewNickname {
   display: flex;
}

#reviewRoomName {
   display: flex;
}

#reviewRoomNameList {
   background-color: lightgray;
   width: 60px;
   height: 20px;
   border-radius: 5px;
   text-align: center;
}

#reviewRoomNameInfo {
   border-radius: 5px;
   background-color: rgba(238, 238, 238, 0.982);
}

#review {
   margin: 20px;
   text-align: left;
   width: 300px;
}

#buReviewList {
   width: 700px;
   height: 200px;
   background-color: rgba(238, 238, 238, 0.982);
   border-radius: 15px;
   margin-left: 10px;
}

#reviewInfo {
   background-color: white;
   width: 728px;
   flex-direction: column;
   align-items: center;
}

#reviewBackground {
   background-color: #E2E2E2;
   width: 1520px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
} */


 */


/* 모달 */
.modal2{
    position: fixed;
    bottom: 35%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index : 1;
    
}


/* 모달 백그라운드 */
.modal2 .bg2{
    width: 100%;
    height: 1000%;
    background-color: rgba(0, 0, 0, 0.6);
}



/* 모달 닫기 버튼 */
.modal2 .closeBtn2 {
    position: absolute;
    top: 10px;
    right: 25px;
    background-color: #fff;
    border: none;
    font-size: 24px;
}


/* 공통 모달창 css */
.modalBox2 {
    position: absolute;
    background-color: #fff;
    width: 500px;
    height: 100px;
    border-radius: 16px;
    
}
.modalBox2 .searchheader2{
    width: 100%;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modalBox2 .searchbody2{
    width: 500px;
    height: 150px;
    padding: 20px 20px;
}

#search-input2{
   width: 430px;
   height: 45px;
}


.hidden {
    display: none;
}
#search2>img{
    width: 20px;
    height: 18px;
}
#contentdeclariation{
	display: flex;
	width :740px;
	justify-content: space-between;
}
#contentdeclariationbtn{
	margin-top : 20px;
}