#content1{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
    background-color: greenyellow;
    border-radius: 15px;

  
}
#content1 div {
margin: 10px; /* 요소 간격 조정 */
}
#content1{
    margin-top: 100px;
}
#content2{
   
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 30px;
        align-items: center;
}
input{
    width: 300px;
    border :solid 2px lightgray;
    border-radius: 5px;
}
#ModifyroomName,#ModifyroomPrice,#ModifyroomStandardInfoText,#ModifyroomPhotoInfoText{
    text-align: left;
    width: 300px;
    margin: 5px;
}
#checkIn,#checkOut{
    margin: 5px;
}
textarea{
    width: 307px;
    height: 150px;
}
#resisterBtn{
    margin: 10px;
    background-color: chartreuse;
    border: solid 1px black;
    border-radius: 5px;
}
#header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index:1;
    border-bottom: 1px solid gray;
    }
    
    #header-content {
    width: 1180px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    }
    
    #navbar {
    padding: 2px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    font-size: 20px;
    }
   
    
    
    #navbar > div:hover{
    color:greenyellow;
    cursor:pointer;
    }
    
    
    #home-logo {
    height: 100%;
    width: 120px;
    cursor: pointer;
    }
    
    #home-logo>img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    }