
#content1{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin: 0 auto;
    background-color: greenyellow;
    border-radius: 15px;

  
}
#content1 div {
margin: 10px; /* 요소 간격 조정 */
}
 #buRoomRegister,#buRoomReservation,#buReview{
    font-size: large;
}
#content1{
    margin-top: 120px;
}
#resistedRoomListText{
    display: flex;
    justify-content: center;
    margin: 50px;
    font-size: large;
}
#lodgingImg1,#lodgingImg2{
    margin: 15px;
}
#lodging1,#lodging2{ 
   display: flex;
   justify-content: center;
   
}
#lodgingInfo1,#lodgingInfo2{
    width: 600px;
    height: 213px;
    margin: 15px;
}
#lodgingInfoPrice1,#lodgingInfoPrice2{
    text-align: right;
    margin-left: 500px;
    margin-top: 130px;
    width: 100px;
}

  