@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	line-height: 1.4;
	color: #333;
	background-color: #f2f2f2;
}

.container-main {
	max-width: 768px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	margin-top : 100px;
}

.reservation-title {
	text-align: center;
	border-bottom: 1px solid #e6e6e6;
	margin-top: -10px;
	/* 이 부분을 추가 */
}

.company-title h4 {
	margin-bottom: 10px;
}

.room-info p {
	margin-bottom: 20px;
	font-size : 18px;
}

.check-in-out p {
	margin-bottom: 5px;
}

.check-in-out {
	display: flex;
	justify-content: flex-start;
	/* 이 부분을 변경 */
}

.check-in-out .label {
	font-size: 18px;
	color: #919191;
}

.check-in-out .date {
	font-size: 20px;
}

.check-in {
	margin-right: 270px;
	/* 이 부분을 추가하여 체크인과 체크아웃 사이의 간격을 조절 */
}

.item-list {
	margin-top: 20px;
	/* 이 부분을 추가 */
}

.total {
	text-align: right;
	margin-top: 20px;
	/* 위쪽 여백 추가 */
}

.total .amount {
	font-weight: bold;
	/* 금액 부분을 볼드체로 */

}

.reservation-info {
	max-width: 768px;
	margin: 10px auto;
	background-color: #fff;
	padding: 20px;
	
}

.reservation-info #customer-name {
	color: #333;
	border-bottom: 1px solid #cccccc;
	font-size: 17px;
	padding-bottom: 7px;
	display: block;
		font-size: 25px;
	
}

.form-group {
	margin-bottom: 10px;
}

.form-group label {
	display: block;
	font-size: 20px;
	color: #919191;
	margin-bottom: 12px;
}

.form-group input {
	width: 100%;
	padding: 8px;
	border: 1px solid #999;
	border-radius: 3px;
}

.payment-details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dotted-line {
	border-bottom: 2px dashed #e6e6e6;;
	margin: 25px 0;
}

.total-payment-amount {
	color: green;
	font-size: 25px;
	font-weight: bold;
}

.pay-section {
	max-width: 768px;
	margin: 10px auto;
	background-color: #fff;
	padding: 20px;
}

.on-site-payment-section {
	max-width: 768px;
	background-color: #fef8f2;
	padding: 20px;
}

.on-site-payment-header {
	display: flex;
	align-items: center;
}

.on-site-payment-image {
	width: 20px;
	height: 20px;
	margin-right: 8px;
}

.on-site-payment-title h4 {
	font-size: 20px;
	color: #E67000;
}

.on-site-payment-text {
	font-size: 25px;
	margin-left: 28px;
	margin-bottom: 10px;
}

.terms-and-conditions {
	margin-top: 20px;
}

.accept-all {
	display: flex;
	align-items: center;
}

.accept-all h2 {
	margin-left: 10px;
	font-size: 20px;
}

.individual-terms {
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-top: 10px;
}

/* 체크박스 스타일 숨기기 */
.checkbox-hidden {
	display: none;
}

/* 체크박스 라벨에 배경 이미지 적용 */
.checkbox-label {
	display: inline-block;
	background-image:
		url('https://platform-site.yanolja.com/icons/checkbox-unselected.svg?inline');
	background-size: cover;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

/* 체크된 상태일 때 라벨 배경 이미지 변경 */
.checkbox-hidden:checked+.checkbox-label {
	background-image:
		url('https://platform-site.yanolja.com/icons/checkbox-selected.svg?inline');
	background-color: green;
}

.checkbox-label.accept-age {
	background-image:
		url('https://platform-site.yanolja.com/icons/checkbox-blue-line-unselected.svg?inline');
}

.pay-button {
	width: 100%;
	padding: 10px;
	color: #fff;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	margin-top: 20px;
	background-color: #cccccc;
}

.pay-button.checked {
	background-color: green;
}